hssz.7z.006 filter=lfs diff=lfs merge=lfs -text
hssz.7z.008 filter=lfs diff=lfs merge=lfs -text
hssz.7z.002 filter=lfs diff=lfs merge=lfs -text
hssz.7z.003 filter=lfs diff=lfs merge=lfs -text
hssz.7z.004 filter=lfs diff=lfs merge=lfs -text
hssz.7z.005 filter=lfs diff=lfs merge=lfs -text
hssz.7z.001 filter=lfs diff=lfs merge=lfs -text
hssz.7z.007 filter=lfs diff=lfs merge=lfs -text
hssz.7z.009 filter=lfs diff=lfs merge=lfs -text
